.toggle-container{
  display: flex;
  align-items:center;
  justify-content: space-around;
  font-size: small;
}
.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 70px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .1s;
  }
  
  .switch-label .switch-button {
    /* content: ''; */
    position: absolute;
    padding: 2%;
    top: 2px;
    left: 2px;
    width: 35px;
    height: 20px;
    border-radius: 45px;
    transition: 0.1s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .switch-checkbox:checked + .switch-label .switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .switch-label:active .switch-button {
    width: 60px;
  }

/* .container {
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    }
    .toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px;
    }
    .checkbox {
    display: none;
    }
    .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    }
    .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
    }
    .inner:before,
    .inner:after {
    float: left;
    width: 50%;
    height: 1.5rem;
    padding: 0;
    line-height: 1.5rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    }
    .inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #060;
    color: #fff;
    }
    .inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
    }
    .switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
    margin-left: 0;
    }
    .checkbox:checked + .label .switch {
    right: 0px;
    }
     */